<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- link for fontawesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Restaurant Catalog</title>
</head>
<body>
  <a href="#maincontent" class="skip-link">Skip to Content</a>
  <header class="header">
    <navbar-item></navbar-item>
  </header>
  <!-- main content -->
  <main id="maincontent">
    <section class="content">
      <jumbotron-item></jumbotron-item>
      <!-- Content for Headline -->
      <headline-item></headline-item>
      <!-- Container for restaurant list -->
      <restaurant-list></restaurant-list>
      <!-- About Us section -->
      <about-item></about-item>
    </section>
  </main>

  <!-- footer section -->
  <footer-item></footer-item>

  <script type="module" src="../scripts/index.js"></script>
</body>
</html>
