.about-us {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  
  .about-us h2 {
    color: #482ff7;
    font-size: 2.4rem; 
    text-align: center;
  }
  
  .about-us p {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  
  .social-icons {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .social-icons li {
    margin: 15px;
  }
  
  .social-icons a {
    color: #333;
    font-size: 40px;
    padding: 5px;
    min-width: 44px;
    min-height: 44px;
  }