/* Responsive navigation styles */
@media only screen and (max-width: 1143px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
    .nav-menu.active {
        left: 0;
    }
  
    .search-bar,
    .search-icon {
        display: none;
    }
  
    .nav-item {
        margin: 2.5rem 0;
    }
  
    .hamburger {
        display: block;
        cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .jumbotron {
      min-width: 1000px; 
      width: 100%;
    }
    
    .headline article {
      flex: 1;
      margin-right: 40px; 
    }
    
    .headline h2 {
      font-size: 2.6rem; 
      margin-bottom: 3rem;
    }
    
    .headline p {
      font-size: 1.6rem; 
      margin-right: 30px;
    }
  
    .read-more {
      display: inline-block;
      background-color: #482ff7; 
      color: white; 
      padding: 15px 20px; 
      text-align: center;
      text-decoration: none;
      font-size: 1.4rem; 
      margin-top: 3rem; 
      border-radius: 5px; 
      border: none; 
      cursor: pointer; 
    }
  
    .headline figure figcaption {
      font-size: 1.2rem;
      text-align: center;
      color: #40454d;
    }
  
    .article {
      max-width: 1200px;
      margin: auto;
      padding-top: 7rem;
    }
  }
  
  @media only screen and (max-width: 960px) {
    .headline article {
      flex: 1;
      margin-right: 25px; 
    }
    
    .headline h2 {
      font-size: 2.0rem;
      margin-bottom: 1rem;
    }
    
    .headline p {
      font-size: 1.2rem;
    
    }
  
    .read-more {
      display: inline-block;
      background-color: #482ff7; 
      color: white; 
      padding: 15px 20px; 
      text-align: center;
      text-decoration: none;
      font-size: 1.4rem; 
      margin-top: 1.5rem; 
      border-radius: 5px; 
      border: none; 
      cursor: pointer; 
    }
  
    .headline figure figcaption {
      font-size: 0.8rem;
      text-align: center;
      color: #40454d;
    }

    .about-us p {
      font-size: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .headline article {
      flex: 1;
      margin-right: 25px; 
    }
    
    .headline h2 {
      font-size: 1.6rem;
      margin-bottom: 0.7rem;
    }
    
    .headline p {
      font-size: 1rem;
    }
  
    .read-more {
      display: inline-block;
      background-color: #482ff7; 
      color: white; 
      padding: 14px 20px; 
      text-align: center;
      text-decoration: none;
      font-size: 1.2rem; 
      margin-top: 1.3rem; 
      border-radius: 5px; 
      border: none; 
      cursor: pointer; 
    }
  
    .headline figure figcaption {
      font-size: 0.7rem;
      text-align: center;
      color: #40454d;
    }

    .about-us p {
      font-size: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 660px) {
    .headline {
      flex-direction: column; 
      align-items: stretch; 
    }
  
    .headline article,
    .headline aside {
      flex: none; 
      width: 100%; 
      margin-right: 0;
    }
  
    .headline aside {
      order: -1;
    }
    
    .headline figure figcaption {
      font-size: 1.1rem;
      text-align: center;
      color: #40454d;
    }
  
    .headline p {
      font-size: 1.4rem;
    }
  
    .headline h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      margin-top: 4rem;
      text-align: center;
    }
  
    .read-more {
      display: inline-block;
      background-color: #482ff7; 
      color: white; 
      padding: 15px 20px; 
      text-align: center;
      text-decoration: none;
      font-size: 1.4rem; 
      margin-top: 3rem; 
      border-radius: 5px; 
      border: none; 
      cursor: pointer; 
    }

    .about-us p {
      font-size: 1.4rem;
    }
  
    .footer p {
      padding-right: 15px;
      padding-left: 15px;
      text-align: center;
    }
  }