// _variables.scss
$primary-color: #482ff7;
$secondary-color: #6851fd;
$text-color: #424d5d;
$border-color: #E2E8F0;
$font-size-base: 75.5%;
$font-family-base: 'Roboto', sans-serif;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
